// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
// .container {
//   padding: 0;
// }

html { 
  overflow-y: visible;
}

::-webkit-scrollbar:horizontal {
  height: 2px;
  width: 30px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(151, 151, 151, 0.5);
  border-radius: 2px;
  box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}